.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    font-family: inherit;
    color: inherit;
    border: none;
    width: 100%;
    display: block;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

      border-bottom: 3px solid $color-primary;
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }
  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-left: 2rem;
    transition: all 0.2s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__radio-group {
    width: 49%;
    display: inline-block;
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
  }
  &__radio-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    display: inline-block;
    position: relative;
    top: 0.39rem;
    left: -1.9rem;
  }
}
